<section id="banner">
  <header>
    <div>
      <h2>Manage saddles</h2>
      <br>
      <input id="password" type="password" value="" placeholder="password">
      <br>
      <br>
      <h3>Current Saddles</h3>
      <br>
      {{#each saddles}}
      <span>{{name}} - <span class="saddleId">{{_id}}</span> - <span class="image">{{image}}</span>
        <button class="delete">delete</button>
      </span>
      <br>
      {{/each}}
      <br>
      <h3>Add a new saddle</h3>
      <br>
    </div>
    <div class="panel-body">
      <form method="post" enctype="multipart/form-data" action="/saveSaddle">
        <input id="password" name="password" type="password" value="" placeholder="password">
        <input id="name" name="name" type="text" value="" placeholder="name">
        <input id="price" name="price" type="text" value="" placeholder="price (pesos)">
        <input id="width" name="width" type="text" value="" placeholder="width (mm)">
        <input id="padding" name="padding" type="text" value="" placeholder="padding (mm)">
        <input id="condition" name="condition" type="text" value="" placeholder="condition">
        <br>
        <input id="upload-input" name="file" type="file">
        <button type="submit">Save</button>
      </form>
    </div>
  </header>
</section>
<script src="javascripts/upload.js"></script>
