<section id="banner">
  <header>
    <div>
      <h2>Manage saddles</h2>
      <br>
      <input id="password" type="text" value="" placeholder="password">
      <br>
      <br>
      <h3>Current Saddles</h3>
      <br>
      {{#each saddles}}
      <span>{{name}} - <span class="saddleId">{{_id}}</span> - {{image}}
        <button class="delete">delete</button>
      </span>
      <br>
      {{/each}}
      <br>
      <h3>Add a new saddle</h3>
      <br>
    </div>
    <div class="panel-body">
      <input id="name" type="text" value="" placeholder="name">
      <input id="price" type="text" value="" placeholder="price (pesos)">
      <input id="width" type="text" value="" placeholder="width (mm)">
      <input id="padding" type="text" value="" placeholder="padding (mm)">
      <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
    </div>
  </header>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="javascripts/upload.js"></script>
