<section id="banner">
  <header>
    <h1>
      Add a saddle
    </h1>
    <div class="panel-body">
      <input id="password" type="text" value="" placeholder="password">
      <input id="name" type="text" value="" placeholder="name">
      <input id="price" type="text" value="" placeholder="price (pesos)">
      <input id="width" type="text" value="" placeholder="width (mm)">
      <input id="padding" type="text" value="" placeholder="padding (mm)">
      <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
    </div>
  </header>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="javascripts/upload.js"></script>
