<h1>New saddle</h1>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>Saddle data:</h4>
        <p>Password</p>
        <input id="password" type="text" value="">
        <p>Name</p>
        <input id="name" type="text" value="">
        <p>Price (in pesos)</p>
        <input id="price" type="text" value="">
        <p>Width (mm)</p>
        <input id="width" type="text" value="">
        <p>Padding (mm)</p>
        <input id="padding" type="text" value="">
        <p>Upload image</p>
        <input id="upload-input" type="file" name="uploads[]" multiple="multiple">
      </div>
      </br>
      </br>
      </br>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="javascripts/upload.js"></script>
