<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="glyphicon glyphicon-cloud-upload"></span>
        <h2>Upload image</h2>
      </div>
    </div>
  </div>
</div>

<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="javascripts/upload.js"></script>
